/* Global Styles */
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0 auto;
}

/* Home Page Styles */
.page-top {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author-text-line {
	padding: 1.25dvw 0;
}

.author-img {
	width: 50px;
	height: 50px;
}

.article-img {
	width: 500px;
	height: 200px;
}

.author-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.article-title {
	font-size: 2.4dvw;
	line-height: 1em;
	margin: 2dvw 0 2dvw 2dvw;
}

.sub-title {
	margin-left: 4dvw;
}

.body-text {
	margin: 0 1dvw;
}
