.navbar {
	width: 100%;
	height: 7dvw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	background: black;
}

.nav-link {
	color: white;
	padding: 2dvw;
	margin-right: 1dvw;
	width: auto;
	cursor: pointer;
}
